<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- js -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.21.1/dist/axios.min.js"></script>
    <script src="js/script.js"></script>
    <!-- css -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div id="app">
        <div class="container">

            <div class="row">
                <input type="text" v-model="search">
                <button @click="startSearch()">GO</button>
            </div>
    
            <div class="row">
                <div v-for="movie in printMovies" class="container movies">
                    <p>{{ movie.title }}</p>
                    <p>{{ movie.original_title }}</p>
                    <p>{{ movie.vote_average }}</p>
                    <img v-if="movie.flag" :src="movie.flag" alt="">
                    <p v-else>{{ movie.original_language }}</p>
                </div>
    
                <div v-for="serie in printSeries" class="container series">
                    <p>{{ serie.name }}</p>
                    <p>{{ serie.original_name }}</p>
                    <p>{{ serie.vote_average }}</p>
                    <img v-if="serie.flag" :src="serie.flag" alt="">
                    <p v-else>{{ serie.original_language }}</p>
                </div>
            </div>
        
        </div>
    </div>
</body>
</html>

<!-- TODO
- stampare solo title nel caso sia uguale a original_title
- risolvere bug
- button v-on click
 -->